{% extends 'StockDocuments/layout.html.twig' %}

{% block title %}
    {{ 'dashboard.actico'|trans({}, 'dashboard') }} - {{ parent() }}
{% endblock %}

{% block content_title %}
    {{ 'dashboard.actico'|trans({}, 'dashboard') }}
{% endblock %}

{% block content_bundle %}

     <div id="myTabContent" class="tab-content">
            <table class="display dataTable table table-bordered table-striped dt-responsive" id="acticotable">
                <thead>
                <tr>
                    <th>Nom étude</th>
                    {% for doc in docEtude %}
                        <th>{{doc}}</th>
                    {% endfor %}
                    
                </tr>
                </thead>
             {% for etude in etudes  |  reverse %}
            <tr>
                <td>{{etude.nom}}</td>
                {% if etude.CDC != NULL %}
                <td><a href="Documents/Publiposter/CDC/etude/{{etude.CDC}}">{{etude.CDC}}</a></td> 
                {% else %}<td></td>{% endif %}
                {% if etude.PC != NULL %}
                <td><a href="Documents/Publiposter/CDC/etude/{{etude.PC}}"><span class="fa fa-plus"></span></a></td>
                {% else %}<td></td>{% endif %}
                {% if etude.CE != NULL %}
                <td><a href="{{ path('project_etude_voir', {'nom': etude.nom,'_fragment': etude.CE}) }}"><span class="fa fa-plus"></span></a></td>
                {% else %}<td></td>{% endif %}
                {% if etude.CCA != NULL %}
                <td><a href="{{ path('project_etude_voir', {'nom': etude.nom,'_fragment': etude.CCA}) }}"><span class="fa fa-plus"></span></a></td>
                {% else %}<td></td>{% endif %}
                {% if etude.BDC != NULL %}
                <td><a href="{{ path('project_etude_voir', {'nom': etude.nom,'_fragment': etude.BDC}) }}"><span class="fa fa-plus"></span></a></td>
                {% else %}<td></td>{% endif %}
                {% if etude.RM != NULL %}
                <td><a href="{{ path('project_etude_voir', {'nom': etude.nom,'_fragment': etude.RM}) }}"><span class="fa fa-plus"></span></a></td>
                {% else %}<td></td>{% endif %}
                {% if etude.AVRM != NULL %}
                <td><a href="{{ path('project_etude_voir', {'nom': etude.nom,'_fragment': etude.AVRM}) }}"><span class="fa fa-plus"></span></a></td>
                {% else %}<td></td>{% endif %}
                {% if etude.AVCE != NULL %}
                <td><a href="{{ path('project_etude_voir', {'nom': etude.nom,'_fragment': etude.AVCE}) }}"><span class="fa fa-plus"></span></a></td>
                {% else %}<td></td>{% endif %}
                {% if etude.PVRI != NULL %}
                <td><a href="{{ path('project_etude_voir', {'nom': etude.nom,'_fragment': etude.PVRI}) }}"><span class="fa fa-plus"></span></a></td>
                {% else %}<td></td>{% endif %}
                {% if etude.PVRF != NULL %}
                <td><a href="{{ path('project_etude_voir', {'nom': etude.nom,'_fragment': etude.PVRF}) }}"><span class="fa fa-plus"></span></a></td>
                {% else %}<td></td>{% endif %}
                {% if etude.QS != NULL %}
                <td><a href="{{ path('project_etude_voir', {'nom': etude.nom,'_fragment': etude.QS}) }}"><span class="fa fa-plus"></span></a></td>
                {% else %}<td></td>{% endif %}
            </tr>
            {% endfor %}
            </table>
    </div>
     
{% endblock %}

{% block javascript %}
    {{ parent() }}
    <script src="{{ asset('js/datatables/jquery.dataTables.min.js') }}"></script>
    <script src="{{ asset('js/datatables/dataTables.bootstrap.min.js') }}"></script>
    <script src="{{ asset('js/datatables/dataTables.responsive.min.js') }}"></script>
    <script src="{{ asset('js/datatables/responsive.bootstrap.min.js') }}"></script>


    <script type="text/javascript" charset="utf-8">
        $(document).ready(function () {
            $('#acticotable').dataTable({
                "bPaginate": true,
                "iDisplayLength": 50,
                "aaSorting": [[1, 'desc']],
            });
        });
    </script>
{% endblock %}