 {% extends "GestionDocuments/layout.html.twig" %}

{% block content_bundle %}

    <div id="myTabContent" class="tab-content">
    <table class="display dataTable table table-bordered table-striped dt-responsive" id="FAtable">
        <tr>
            <th>Date d'upload</th>
            <th>Mis en ligne par</th>
            <th>Titre</th>
            <th>Taille</th>
            <th>Action</th>
        </tr>
        {% for doc in docs | reverse %}
            <tr>
                <td>{{ doc.uptime ? doc.uptime | date('d/m/Y - H:i:s') }}</td>
                <td>{{ doc.author ? doc.author.prenomNom }}</td>
                <td>
                    <a href="{{ path('publish_document_voir', {'id': doc.id}) }}">{{ doc.name }}</a>
                </td>
                <td>{{ (doc.size / 1024) | number_format(2, ',', ' ') }} Ko</td>
                <td><a href="{{ path('publish_document_delete', {'id' : doc.id }) }}"><i
                                class="fa fa-times text-danger"></i></a></td>
            </tr>
        {% endfor %}
    </table>
    </div>
{% endblock %}