{% extends "Stat/layout.html.twig" %}

{% block title %}
    {{ 'processus.tab_process'|trans({}, 'processus') }} - {{ parent() }}
{% endblock %}

{% block content_title %}
    {{ 'processus.tab_process'|trans({}, 'processus') }}
{% endblock %}

{% block content_bundle %}
    <div id="myTabContent" class="tab-content">
        <div class="col-md-2 col-xs-2">
            <a href="{{ path('ajouter_processus') }}" class="pull-right btn btn-info">{{ 'processus.ajouter_process'|trans({}, 'processus') }}</a>
        </div>
            <table class="display dataTable table table-bordered table-striped dt-responsive" >
                <thead>
                <tr>
                    <th>Nom du processus</th>
                    <th>Pilote</th>
                    <th>Document</th>
                    <th>Ajouter un document</th>
                    
                </tr>
                </thead>
                {% for process in processus %}
                    <tr>
                        <td>{{process.nom}} </td>
                        <td>{{process.pilote}} </td>
                        <td><a href="{{ path('publish_document_voir', {'id': doc.id}) }} ">{{ process.nom}}</a></td>
                        <td><ul class="nav  navbar-nav">
                             <li><a href="{{ path('publish_document_uploadProcessus',{'nom': process.nom}) }}"><span class="fa fa-pencil"></span> {{ 'suivi.document_ajouter'|trans({}, 'project') }}</a></li>
                            </ul> </td>  

                    </tr>
                {% endfor %}
            </table>
    </div>  
    
{% endblock %}