{% extends "Stat/layout.html.twig" %}

{% block title %}
    {{ 'dashboard.tabProcess'|trans({}, 'dashboard') }} - {{ parent() }}
{% endblock %}

{% block content_title %}
    {{ 'dashboard.tabProcess'|trans({}, 'dashboard') }}
{% endblock %}

{% block content_bundle %}
    <div class="nav-tabs-custom">
        <ul id="myTab" class="nav nav-tabs">
            <li class="active">
                <a href="#tableau" data-toggle="tab">{{ 'dashboard.tabProcess'|trans({}, 'dashboard') }}</a>
            </li>
            <li>
                <a href="#processus" data-toggle="tab">{{ 'dashboard.ajouterProcess'|trans({}, 'dashboard') }}</a>
            </li>
        </ul>
    </div>
    
    <div id="myTabContent" class="tab-content">
        <div class="tab-pane fade active in" id="tableau">
            <table class="display dataTable table table-bordered table-striped dt-responsive" id="FAtable">
                <thead>
                <tr>
                    <th>Nom du processus</th>
                    <th>Pilote</th>
                    <th>Document</th>
                    
                </tr>
                </thead>
                {# {% for facture in factures | filter(facture => facture.type == 1) %}
                    {% set delai = (((facture.dateVersement ? facture.dateVersement |date('U') : 'now' | date('U')) - facture.dateEmission| date('U')) / 86400 ) |round %} #}
                    <tr>
                        <td> </td>
                        <td> </td>
                        <td> </td>

                    </tr>
                {# {% endfor %} #}
            </table>
        </div>
        
        <div class="tab-pane fade" id="processus">
                


            <div class="table-responsive content">
                {{ form_start(form) }}
                <table class="table table-bordered table-striped">
                    <tr>
                        <th>{{ form_label(form.nom) }}</th>
                        <td>{{ form_widget(form.nom) }} {{ form_errors(form.nom) }}</td>
                    </tr>
                    <tr>
                        <th>{{ form_label(form.pilote) }}</th>
                        <td>{{ form_widget(form.pilote) }} {{ form_errors(form.pilote) }}</td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <div class="row">
                                <div class="col-md-2 col-xs-4">
                                    <button type="submit" class="btn btn-success">{{ 'generique.enregistrer'|trans({}, 'personne') }}</button>
                                    {{ form_rest(form) }}
                                    {{ form_end(form) }}
                                </div>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>

         
        </div>
    </div>
{% endblock %}