{# Formulaire d'ajout d'un alumnus #}

{{ form_start(form) }}

<table class="table table-bordered table-striped standard">
    <tr>
        <th>{{ form_label(form.commentaire) }}</th>
        <td>{{ form_widget(form.commentaire) }}</td>
    </tr>
    <tr>
        <th>{{ form_label(form.personne) }}</th>
        <td>{{ form_widget(form.personne) }}</td>
    </tr>
</table>
{{ form_widget(form) }}

<div class="row">
    <div class="col-md-3 col-sm-5 col-xs-6">
        <button type="submit" class="btn btn-success">
            {% if form.vars.data.id %}
                {{ 'rh.contact_enregistrer'|trans({}, 'rh') }}
            {% else %}
                {{ 'rh.contact_nouveau_enregistrer'|trans({}, 'rh') }}
            {% endif %}
        </button>
        {{ form_end(form) }}
    </div>

    {# {% if delete_form is defined and delete_form is not none %}
        <div class="col-md-3 col-sm-5 col-xs-6">
            <form class="bootbox-confirm"
                data-content="{{ 'rh.contact_client_supprimer_confirm'|trans({}, 'rh') }}"
                action="{{ path('alumnus_contact_delete', { 'id': alumnusContact.id }) }}" method="post">
                {{ form_widget(delete_form) }}
                <button class="btn btn-danger">
                    {{ 'rh.contact_client_supprimer' |trans({}, 'rh') }}
                </button>
            </form>
        </div>
    {% endif %} #}

</div>

