<table class="table table-bordered table-striped">
        <tr>
            <th>{{ 'formation.titre'|trans({}, 'formation') }}</th>
            <th>{{ 'formation.documents_nb'|trans({}, 'formation') }}</th>
            <th>{{ 'formation.description'|trans({}, 'formation') }}</th>
        </tr>
        {% for passation in passations %}
            <tr>
                <td><a href="{{ path('passation_voir', {'id': passation.id}) }}">{{ passation.titre | title }}</td>
                <td>{{ passation.relatedDocuments | length }}</a>
                <td>{{ passation.description }}</td>
            </tr>
        {% endfor %}
    </table>