{% extends 'Project/layout.html.twig' %}

{% block title %}
	{{ 'dashboard.cca'|trans({}, 'dashboard') }}
	{{ parent() }}
{% endblock %}

{% block content_title %}
	{{ 'suivi.cca_bdc_relation'|trans({}, 'project') }} {{ prospect }}
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
{% endblock %}


{% block content_bundle %}

	<div id="myTabContent" class="tab-content">
		<table class="display dataTable table table-bordered table-striped dt-responsive" id="ccatable">
			<thead>
				<tr>
					<th>{{ 'suivi.etude.etude'|trans({}, 'project') }}</th>
					<th>{{ 'suivi.date_signature' | trans({}, 'project') }}</th>
					<th>{{ 'suivi.date_fin' | trans({}, 'project') }}</th>
					<th>{{ 'suivi.statut' | trans({}, 'project') }}</th>
				</tr>
			</thead>
      <tbody>
			{% for bdc in bdcs %}
        <tr>
          <td>{{ bdc.etude.nom }}</td>
					<td>{{ bdc.dateSignature | date('d/m/Y')}}</td>
					<td>{{ bdc.etude.getDateFin | date('d/m/Y')}}</td>
          <td>{{ bdc.etude.getStateIDToString(bdc.etude.stateID) | trans({}, 'project') }}</td>
				</tr>
			{% endfor %}
      </tbody>
		</table>
	</div>
{% endblock %}

{% block javascript %}
	{{ parent() }}
{% endblock %}
