{% extends 'Project/layout.html.twig' %}

{% block title %}
	{{ 'dashboard.cca'|trans({}, 'dashboard') }}
	{{ parent() }}
{% endblock %}

{% block content_title %}
	{{ 'dashboard.cca'|trans({}, 'dashboard') }}
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
{% endblock %}


{% block content_bundle %}

	<div id="myTabContent" class="tab-content">
		<a class="btn btn-default" href="{{ path('project_cca_ajouter') }}" style="color: #3c8dbc;">
			<span class="fa fa-pencil"></span>
			{{ 'suivi.cca_ajouter'|trans({}, 'project') }}
		</a>
		<table class="display dataTable table table-bordered table-striped dt-responsive" id="ccatable">
			<thead>
				<tr>
					<th>{{ 'suivi.client'|trans({}, 'project') }}</th>
					<th>{{ 'suivi.date_signature' | trans({}, 'project') }}</th>
					<th>{{ 'suivi.date_fin' | trans({}, 'project') }}</th>
					<th>{{ 'suivi.action' | trans({}, 'project') }}</th>
				</tr>
			</thead>
      <tbody>
			{% for cca in ccas %}
        {# On affiche en orange la ligne si la convention arrive bientôt à son terme (30 jours) #}
        {% set echeance = date(cca.dateFin).diff(date("now")) %}
        <tr class="{{ echeance.m  < 1 ? "warning" : echeance.invert ? : "danger" }}">
					<td>{{ cca.prospect.nom }}</td>
					<td>{{ cca.dateSignature | date('d/m/Y')}}</td>
					<td>{{ cca.dateFin | date('d/m/Y')}}</td>
					<td>
						<a href="{{ path('project_cca_supprimer', {'id' : cca.id }) }}">
							<i class="fa fa-times text-danger"></i>
						</a>
						&nbsp
						<a href="{{ path('project_cca_modifier', {'id' : cca.id }) }}">
							<i class="fa fa-pencil"></i>
						</a>
            &nbsp
            <a href="{{ path('project_cca_bdc', {'id' : cca.id }) }}">
              <span>BDC</span>&nbsp<i class="fa fa-eye"></i>
            </a>
					</td>
				</tr>
			{% endfor %}
      </tbody>
		</table>
	</div>
{% endblock %}

{% block javascript %}
	{{ parent() }}
{% endblock %}
