{% extends "Stat/layout.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/datatables/dataTables.bootstrap.css') }}">
    <link rel="stylesheet" href="{{ asset('css/datatables/dataTables.fontAwesome.css') }}">
    <link rel="stylesheet" href="{{ asset('css/datatables/responsive.bootstrap.min.css') }}">
{% endblock %}

{% block content_bundle %}
    <div class="nav-tabs-custom">
        <ul id="indicateursLink" class="nav nav-tabs">
            <li class="active"><a href="#infos" data-toggle="tab" data-loaded="true">
                    {{ 'indicateur.donnees_brutes'|trans({}, 'indicateur') }}</a></li>
            <li class=""><a href="#gestion" data-toggle="tab" data-loaded="false">
                    {{ 'indicateur.gestion_associative'|trans({}, 'indicateur') }}</a></li>
            <li class=""><a href="#formations" data-toggle="tab" data-loaded="false">
                    {{ 'indicateur.rfp'|trans({}, 'indicateur') }}</a></li>
            <li class=""><a href="#suivi" data-toggle="tab" data-loaded="false">
                    {{ 'indicateur.gestion_etudes'|trans({}, 'indicateur') }}</a></li>
            <li class=""><a href="#treso" data-toggle="tab" data-loaded="false">
                    {{ 'indicateur.tresorerie'|trans({}, 'indicateur') }}</a></li>
            <li class=""><a href="#devco" data-toggle="tab" data-loaded="false">
                    {{ 'indicateur.developpement_commercial'|trans({}, 'indicateur') }}</a></li>
        </ul>
    </div>

    <div id="indicateursTabs" class="tab-content">
        <div class="tab-pane active row" id="infos">
            <table id="control" class="table table-bordered">
                <tr>
                    <td><label for="checkbox-tabAnuel">{{ 'indicateur.tabAnuel'|trans({}, 'indicateur') }}</label>
                        <input id="checkbox-tabAnuel" type="checkbox" checked="checked" onchange="$('#content-1').toggle();"/></td>
                    <td><label for="checkbox-tabMensuel">{{ 'indicateur.tabMensuel'|trans({}, 'indicateur') }}</label>
                        <input id="checkbox-tabMensuel" type="checkbox" checked="checked" onchange="$('#content-2').toggle();"/></td>
                </tr>
            </table>
        </div>

            <div id="content-1">
                {% include 'Stat/Indicateurs/donneesBrutes.html.twig' with { "tabDonnees": tabDonneesAnnuel, "dates": annees} %}                 
            </div> 
            <div id="content-2">
                {% include 'Stat/Indicateurs/donneesBrutes.html.twig' with { "tabDonnees": tabDonneesMensuel, "dates": mois} %}
            </div> 

        <div class="tab-pane row" id="gestion">
            {% for indicateur in indicateurs['asso'] %}
                <div class="indicateur-container col-md-6" id="{{ indicateur }}-container">
                    <div id="{{ indicateur }}" style="min-width: 400px; margin: 0 auto; text-align: center;" data-url="{{ path(indicateur) }}">
                        <img src="{{ asset('img/loading.gif') }}"/>
                    </div>
                </div>
            {% endfor %}
        </div>

        <div class="tab-pane row" id="formations">
            {% for indicateur in indicateurs['formations'] %}
                <div class="indicateur-container col-md-6" id="{{ indicateur }}-container">
                    <div id="{{ indicateur }}" style="min-width: 400px; margin: 0 auto; text-align: center;" data-url="{{ path(indicateur) }}">
                        <img src="{{ asset('img/loading.gif') }}"/>
                    </div>
                </div>
            {% endfor %}
        </div>

        <div class="tab-pane row" id="suivi">
            {% for indicateur in indicateurs['suivi'] %}
                <div class="indicateur-container col-md-6" id="{{ indicateur }}-container">
                    <div id="{{ indicateur }}" style="min-width: 400px; margin: 0 auto; text-align: center;" data-url="{{ path(indicateur) }}">
                        <img src="{{ asset('img/loading.gif') }}"/>
                    </div>
                </div>
            {% endfor %}
        </div>

        <div class="tab-pane row" id="treso">
            {% for indicateur in indicateurs['treso'] %}
                <div class="indicateur-container col-md-6" id="{{ indicateur }}-container">
                    <div id="{{ indicateur }}" style="min-width: 400px; margin: 0 auto; text-align: center;" data-url="{{ path(indicateur) }}">
                        <img src="{{ asset('img/loading.gif') }}"/>
                    </div>
                </div>
            {% endfor %}
        </div>

        <div class="tab-pane row" id="devco">
            {% for indicateur in indicateurs['devco'] %}
                <div class="indicateur-container col-md-6" id="{{ indicateur }}-container">
                    <div id="{{ indicateur }}" style="min-width: 400px; margin: 0 auto; text-align: center;" data-url="{{ path(indicateur) }}">
                        <img src="{{ asset('img/loading.gif') }}"/>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block javascript %}
    {{ parent() }}

    <script src="{{ asset('js/datatables/jquery.dataTables.min.js') }}"></script>
    <script src="{{ asset('js/datatables/dataTables.bootstrap.min.js') }}"></script>
    <script src="{{ asset('js/datatables/dataTables.responsive.min.js') }}"></script>
    <script src="{{ asset('js/datatables/responsive.bootstrap.min.js') }}"></script>


    <script type="text/javascript" charset="utf-8">
        $(document).ready(function () {
            $('#tab1').dataTable({
                "bPaginate": true,
                "iDisplayLength": 50,
                "aaSorting": [[1, 'desc']],
            });
            $('#tab2').dataTable({
                "bPaginate": true,
                "iDisplayLength": 50,
                "aaSorting": [[1, 'desc']],
            });
        });
    </script>
    
    <script src="{{ asset('js/highcharts.js') }}"></script>
    <script src="{{ asset('js/modules/drilldown.js') }}"></script>
    <script src="{{ asset('js/highcharts-fr.js') }}"></script>
    <span id="jsChart"></span>

    <script type="text/javascript" >
        function getChartAsync(url) {
            $.get(url)
                .done(function (data) {
                    $('#jsChart').append(data);
                });
        }

        $('#indicateursLink').children().each(
            function () {
                $(this).click(
                    function () {
                        var tabLink = $(this).children().first();
                        if (tabLink.attr('data-loaded') === 'false') {
                            $(tabLink.attr('href')).children().each( // for each indicateur-container
                                function () {
                                    getChartAsync($(this).children().first().attr('data-url'));
                                });
                            $(this).children().first().attr('data-loaded', true)
                        }
                    });

            }
        );


        // keep tab opened through refresh
        $(document).ready(function () {
            // show active tab on reload
            if (location.hash !== '') {
                var tabSelect = $('a[href="' + location.hash + '"]');
                var url = tabSelect.attr('data-url');
                var div = $(location.hash);
                if (div !== undefined) {
                    div.load(url, function (result) {
                        return result
                    });
                }
                tabSelect.trigger('click');
            }

            // remember the hash in the URL without jumping
            $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
                var url = $(this).attr("data-url");
                var href = this.hash;
                if (history.pushState) {
                    history.pushState(null, null, '#' + $(e.target).attr('href').substr(1));
                } else {
                    location.hash = '#' + $(e.target).attr('href').substr(1);
                }
            });
        });
    </script>
{% endblock %}
