{% extends "Stat/layout.html.twig" %}

{% block title %}
    {{ 'processus.documents'|trans({}, 'processus') }} - {{ parent() }}
{% endblock %}

{% block content_title %}
    {{ 'processus.process'|trans({}, 'processus') }}: {{ processus.nom }}
{% endblock %}

{% block content_bundle %}

    <div class="box-header with-border">
            <a href="{{ path('publish_document_uploadProcessus',{'nom': processus.nom}) }}" class="pull-right btn btn-info">{{ 'processus.ajouter_doc'|trans({}, 'processus') }}</a>
    </div>
    {# <form class="bootbox-confirm inline"
                                  data-content="{{ 'processus.supprimer_process_confirm'|trans({}, 'processus') }}"
                                  action="{{ path('processus_supprimer', { 'nom': processus.nom}) }}" method="post">
                                {# {{ form_widget(delete_form) }} 
     <button class="btn btn-danger">{{ 'processus.supprimer_process'|trans({}, 'processus') }}</button>
    </form> #}
    <table class="table table-bordered table-striped">
        <tr>
            <th>{{ 'processus.titre'|trans({}, 'processus') }}</th>
            <th>{{ 'processus.date_upload'|trans({}, 'processus') }}</th>
            <th>{{ 'processus.supprimer'|trans({}, 'processus') }}</th>

        </tr>

         {% for relatedDocument in processus.relatedDocuments %}
        {% set doc = relatedDocument.document %}
        <tr>
            <td><a href="{{ path('publish_document_voir', {'id': doc.id}) }} ">{{ doc.name}}</a></td>
            <td>{{ doc.uptime ? doc.uptime | date('d/m/Y - H:i:s')}}</td>
            {# {% if is_granted('ROLE_CA') %} #}
            <td><form class="bootbox-confirm inline"
                                  data-content="{{ 'processus.supprimer_doc_confirm'|trans({}, 'processus') }}"
                                  action="{{ path('publish_document_delete', { 'id': doc.id}) }}" method="post">
                                {# {{ form_widget(delete_form) }} #}
                        <button class="fa fa-times"></button>
                        </form> </td>
            {# {% endif %} #}
        </tr>
        {% endfor %}
    </table>
{% endblock %}
